<div class="container">
    <div class="card-panel z-depth-3 signup">
        <div class="container">
            <div class="center signup">
                <img
                    alt="logo"
                    src="/assets/img/storeLogo.png"
                    width=75
                />
                <h2>Login</h2>
            </div>
            <form class="login">
                <div class="input-field">


                    <input
                        type="email"
                        class="form-control validate"
                        id="email-input"
                        required
                    >
                    <label for="email-input">Email</label>

                    <span
                        class="helper-text"
                        data-error="Wrong email format, please try again."
                        data-success="Looks good!"
                    >Enter an email address</span>
                </div>

                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input
                        type="password"
                        class="form-control"
                        id="password-input"
                        placeholder="Password"
                        required
                    >
                </div>
                <span
                    hidden="true"
                    class="login-error center error materialize-red-text"
                >
                    Looks like something went wrong, please try again.
                </span>
                <div class="signup-action center">
                    <button
                        type="submit"
                        class="btn btn-default"
                    >Log in</button>
                    <br />
                    <p>Or sign up <a href="/signup">here</a></p>
                </div>
            </form>
        </div>


        <div class="acknow right">Icons made by <a
                href="https://www.flaticon.com/authors/vitaly-gorbachev"
                title="Vitaly Gorbachev"
            >Vitaly Gorbachev</a> from <a
                href="https://www.flaticon.com/"
                title="Flaticon"
            >www.flaticon.com</a></div>
    </div>
</div>