body {
  background-color: rgb(240, 240, 240);
}

.signup {
  margin-top: 30px;
}
.signup-action {
  margin-top: 20px;
}

.acknow {
  font-size: 0.7rem;
}

.curr-trigger {
  font-size: 1.4rem;
}

.logo {
  margin: 10px 0 0 10px;
}

.img {
  height: 150px;
  object-fit: cover;
}
.prod-img {
  width: 100%;
}

.product-container {
  padding: 15px 0 0 15px;
  font-size: 1.2rem;
}

.price {
  font-size: 2rem;
}
.card-price {
  font-size: 1.2rem;
}

.add-button {
  bottom: 27px;
  right: 20px;
}

.card-content {
  height: 150px;
}

.trunc {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.order-name {
  font-style: bold;
  font-size: 1.2rem;
}

.order-description {
  font-size: 0.8rem;
  font-style: italic;
  color: grey;
}

.mailto {
  font-style: italic;
  font-size: 0.8rem;
}

.mailto-detail {
  font-size: 1.5rem;
}
.mailto-name {
  font-size: 1.2rem;
  word-wrap: break-word;
}

/* loader css starts*/
.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(255, 255, 255, 0.2);
  border-right: 1.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
  border-left: 1.1em solid #9c27b0;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
#loadingDiv {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* loader css ends */
