body {
  background-color: rgb(240, 240, 240);
  min-height: 100vh;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.signup {
  margin-top: 30px;
}
.signup-action {
  margin-top: 20px;
}

.acknow {
  font-size: 0.7rem;
}

.curr-trigger {
  font-size: 1.4rem;
}

.logo {
  margin: 10px 0 0 10px;
}

.img {
  height: 150px;
  object-fit: cover;
}
.prod-img {
  width: 100%;
}

.product-container {
  padding: 15px 0 0 15px;
  font-size: 1.2rem;
}

.price {
  font-size: 2rem;
}
.card-price {
  font-size: 1.2rem;
}

.add-button {
  bottom: 27px;
  right: 20px;
}

.card-content {
  height: 160px;
}

.trunc {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.order-name {
  font-style: bold;
  font-size: 1.2rem;
}

.order-description {
  font-size: 0.8rem;
  font-style: italic;
  color: grey;
}

.mailto {
  font-style: italic;
  font-size: 0.8rem;
}

.mailto-detail {
  font-size: 1.5rem;
}
.mailto-name {
  font-size: 1.2rem;
  word-wrap: break-word;
}
.carousel-img {
  height: 200px;
  object-fit: cover;
}
.carousel-title-container {
  display: inline-block;
}
.carousel-title {
  padding: 0 30px 0 30px;
}
